@import url(http://fonts.googleapis.com/css?family=Poppins:400,300,700);

body{
    background-color: #8bd6d4ff;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 1px;
}

.navbar{
    background-color:#007C82;
}

.spacer{
    position: relative;
}

.btn-primary{
    background-color: #007C82;
    border-color: #007C82;
}

.btn-primary:hover{
    background-color: #ff7c1d;
    border-color: #ff7c1d;
}